.movie-list {
	list-style: none;
	padding-inline-start: 0px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px 18px -18px;
	@media (max-width: 1009px) {
		justify-content: center;
		margin: 0 -18px;
	}
	& > li {
		display: flex;
		padding: 18px;
		.ant-image {
			overflow: hidden;
			position: relative;
			img {
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
		.ant-card {
			filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
			.ant-card-head {
				padding: 0;
				margin-bottom: 0px;
				border: 0;
				.ant-card-head-title {
					color: #000000;
					font-weight: 400;
					font-size: 20px;
					line-height: 28px;
					padding: 10px 10px 0px 20px;
					.card-top {
						display: flex;
						justify-content: space-between;
						align-items: center;
						span {
							display: block;
							margin-right: 10px;
							max-width: 198px;
							word-break: break-word;
							text-overflow: ellipsis;
							-webkit-line-clamp: 1;
							-webkit-box-orient: horizontal;
							overflow: hidden;
						}
						.rating {
							font-size: 12px;
							line-height: 183%;
							border: 2px solid #e9d100;
							width: 30px;
							height: 30px;
							flex: 0 0 30px;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}
			}
			.ant-card-body {
				padding: 0 20px;
				.ant-card-meta-description {
					font-size: 12px;
					line-height: 183%;
					color: #827e7e;
					margin-bottom: 7px;
				}
				.tags {
					margin-bottom: 7px;
				}
				.ant-tag {
					line-height: 150%;
				}
				p {
					font-size: 12px;
					line-height: 183%;
					color: #000000;
					word-break: break-word;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 6;
					-webkit-box-orient: vertical;
					overflow: hidden;
					height: 129px;
					margin-bottom: 10px;
				}
				.ant-rate {
					display: flex;
					justify-content: center;
					font-size: 17px;
					.ant-rate-star:not(:last-child) {
						margin-right: 6px;
					}
				}
			}
		}
		@media (max-width: 1009px) {
			padding: 0 18px 20px 18px;
		}
		@media (max-width: 550px) {
			position: relative;
			.ant-image {
				position: absolute;
				top: 6px;
				left: 28px;
				width: 60px !important;
				height: 91px !important;
				z-index: 1;
				img {
					width: 60px !important;
					height: 91px !important;
				}
			}
			.ant-card {
				width: 387px !important;
				height: 245px;
				.ant-card-head {
					min-height: 44px;
					.ant-card-head-title {
						padding: 4px 8px 0px 20px;
					}
					.card-top {
						padding-left: 63px;
					}
				}
				.ant-card-body {
					padding: 0 10px;
					.ant-card-meta {
						padding-left: 73px;
					}
					.tags {
						padding-left: 73px;
						margin-bottom: 20px;
					}
					p {
						-webkit-line-clamp: 4;
						height: 90px;
					}
					.ant-rate {
						justify-content: flex-end;
					}
				}
			}
		}
		@media (max-width: 450px) {
			.ant-card {
				width: 100% !important;
				.ant-card-head {
					.ant-card-head-title {
						.card-top {
							span {
								max-width: 155px;
							}
						}
					}
				}
			}
		}
	}
}
.ant-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	.ant-pagination-item-active {
		background: #1890ff;
		border-radius: 4px;
		a {
			color: #ffffff;
		}
	}
}
